body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: ;
}

main {
  background-color: #1f2937;
}

.navigation-bar {
  display: flex;
  justify-content: space-around;
}

.navigation-bar ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.navigation-bar ul li {
  list-style: none;
}

.navigation-bar ul li a:not(.logo) {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.logo-img {
  /* max-width: 60px; */
  height: 40px;
  text-decoration: none;
  color: #f9faf8;
  font-size: 24px;
}

.hero-section {
  display: flex;
  justify-content: space-around;
  /* margin: 30px 10px; */
  padding: 70px;
}

.hero-text {
  width: 27%;
}

.hero-text h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.hero-text p {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-image {
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px 30px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.sub-hero-section {
}

.sub-hero-section h2 {
  color: #1f2937;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.items-container {
  /* max-width: 700px; */
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 64px 40px;
}

.items-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-image p {
  color: #1f2937;
}

.bedsheet {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
  /* box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; */
}

.testimony {
  background-color: #e5e7eb;
  padding: 80px;
  display: flex;
  justify-content: center;
}

.review-container {
  display: flex;
  max-width: 700px;
  flex-direction: column;
}

.review {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
  max-width: 700px;
  line-height: 1.5;
}

.author {
  max-width: 700px;
  font-size: 18px;
  font-weight: bold;
  color: #1f2937;
  align-self: flex-end;
  margin-top: 20px;
}

.before-footer {
  display: flex;
  justify-content: center;
  margin: 60px 20px;
}

.call-to-action {
  background-color: #3882f6;
  border-radius: 5px;
  max-width: 760px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 24px 48px;
  line-height: 0.2;
}

h4 {
  color: #f9faf8;
  font-size: 16px;
}

.signup-details {
  color: #e5e7eb;
  font-size: 12px;
}

.call-to-actio-btn {
  border: 2px solid #f9faf8;
  border-radius: 5px;
  margin-left: 32px;
}

button {
  cursor: pointer;
}

footer {
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
  font-size: 14px;
  padding: 20px;
}
